@import "tailwindcss";

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

.section-content {
  @apply max-w-3xl mx-auto text-xl leading-9 text-center text-grayishBlue;
}

.button-container {
  @apply flex flex-col space-y-6 text-white text-xl justify-center w-full md:flex-row md:space-y-0 md:space-x-4;
}
.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}

@theme {
  /* Fonts */
  --font-sans: "Bai Jamjuree", ui-sans-serif, system-ui, sans-serif;

  /* Custom Colors */
  --color-strongCyan: hsl(171, 66%, 44%);
  --color-lightBlue: hsl(233, 100%, 69%);
  --color-darkGrayishBlue: hsl(210, 10%, 33%);
  --color-grayishBlue: hsl(201, 11%, 66%);

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}

/* Dark mode variant */
@variant dark (&:where(.dark, .dark *));

/* Button cursor fix */
@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }
  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
  }
  button {
    @apply cursor-pointer;
  }
}
